body {
    background: #E5E5E5;
    Padding: 0;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 0;

}

p {
    margin: 0;

}

main {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 5fr;
    margin: 25px;
}

.logoalura {
    display: block;
    height: auto;
    width: auto;
    margin: 0%;
    padding: 0%;
}

.logo-alura {

    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 7.5rem;
    height: 3rem;
    left: 2.5rem;
    top: 2.5rem;

}

.texto-a-encriptar {
    height: 750px;
    width: 80%;
    margin-top: 120px;
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: #0a3871;
    resize: none;
    border-color: #E5E5E5;
    display: block;
}

.texto-a-encriptar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.texto-a-encriptar::-webkit-scrollbar:vertical {
    width: 10px;
}

.texto-a-encriptar::-webkit-scrollbar-button:increment,
.texto-a-encriptar::-webkit-scrollbar-button {
    display: none;
}

.texto-a-encriptar::-webkit-scrollbar:horizontal {
    height: 10px;
}

.texto-a-encriptar::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.texto-a-encriptar::-webkit-scrollbar-track {
    border-radius: 10px;
}

.cuadro-respuesta {
    display: grid;
    justify-items: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin: 40px;
    height: 100%;
    width: 80%;
    max-width: 400px;
    border-color: #FFFFFF;
    box-sizing: border-box;

}

.contenedorResultado {
    display: grid;
    justify-items: center;
    border-radius: 32px;
    margin-top: 15px;
    max-width: 100%;
}

.dibujo-nene {
    margin-top: 50%;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.texto-encriptado {
    display: flex;
    margin: 20px;
    color: black;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 120%;
    text-align: center;
    border-color: #ffffff;
}

.ingrese-texto {

    display: flex;
    font-size: 1.3rem;
    text-align: center;
    color: #495057;
    border-color: #FFFFFF;
    width: 90%;
    border-style: none;
    margin-left: 1rem;

}

.texto-resultado {
    height: 100%;
    max-width: 90%;
    max-height: 90vh;
}

.textoResultado {
    display: block;
    font-size: 2rem;
    margin: 20px 0 0 50px;
    overflow-wrap: break-word;
    overflow: auto;
    border-color: #0A3871;
    color: #495057;
    box-sizing: border-box;
    max-height: 90%;
    max-width: 75%;
}

.textoResultado::-webkit-scrollbar {
    -webkit-appearance: none;
}

.textoResultado::-webkit-scrollbar:vertical {
    width: 10px;
}

.textoResultado::-webkit-scrollbar-button:increment,
.textoResultado::-webkit-scrollbar-button {
    display: none;
}

.textoResultado::-webkit-scrollbar:horizontal {
    height: 10px;
}

.textoResultado::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.textoResultado::-webkit-scrollbar-track {
    border-radius: 10px;
}


.botonCopiar {
    display: flex;
    margin-top: 10px;
}

.Copiar {


    background: #ffffff;
    border: 2px solid #0A3871;
    border-radius: 24px;
    font-size: 1rem;
    width: 336px;
    height: 67px;
    display: flexbox;


}

.Copiar:hover,
button:focus {
    color: #06204098;
}

.Copiar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.Copiar:active {
    transform: scale(0.9);
}

.texto-importante {
    display: flex;
    align-items: start;
    font-size: 20px;
    color: #495057;
    opacity: 0.8;
    margin: 20px;
}

svg {
    margin-right: 6px;
}

.botones {
    display: flex;
    align-items: start;
    gap: 24px;
    margin: auto;
}

.Encriptar {

    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: rgba(243, 245, 252, 1);
    font-size: 15px;

}

.Encriptar:before {
    transition: 0.5s all ease;
    top: 0;
    bottom: 0;
    opacity: 0;
    content: '';
    border-radius: 24px;
    z-index: -1;
}

.Encriptar:hover,
button:focus {
    color: #afccee98;
}

.Encriptar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    opacity: 1;
}

.Encriptar:active {
    transform: scale(0.9);
}


.Desencriptar {

    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 15px;
}

.Desencriptar:before {
    transition: 0.5s all ease;
    bottom: 0;
    opacity: 0;
    content: '';
    border-radius: 24px;
    z-index: -1;
}

.Desencriptar:hover,
button:focus {
    color: #06204098;
}

.Desencriptar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    opacity: 1;
}

.Desencriptar:active {
    transform: scale(0.9);
}

.pie-pagina {

    background-color: #0A3871;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1rem;
    min-width: 100%;
    min-height: 10%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
    display: flex;
}

.texto-pie {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.ocultar {
    display: none;
}

@media screen and (max-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;

    }

    .texto-a-encriptar {
        margin-left: 35px;
        margin-top: 200px;
    }

    .cuadro-respuesta {
        max-width: 100%;
        width: 688px;

    }

    .dibujo-nene {
        display: none;
    }

    .texto-resultado {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        max-height: 500px;
    }

    .texto-importante {
        align-items: start;
        margin: 0 0 16px 0;
    }

    .botones {
        justify-content: center;
    }

    .textoResultado {
        max-width: 100%;
        margin-top: 10px;

    }

    .botonCopiar {
        margin-top: 20px;
    }

    .pie-pagina {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }
    .logo-alura{
        left: 0;
        top: 24px;
    }
    .texto-a-encriptar {
        margin-left: 16px;
        margin-top: 160px;
        max-width: 90%;
        width: 340px;
    }

    .cuadro-respuesta {
        max-width: 100%;
        width: 688px;

    }

    .dibujo-nene {
        display: none;
    }

    .texto-resultado {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        max-height: 250px;
    }

    .texto-importante {
        align-items: start;
        margin: 0 0 16px 0;
    }

    .botones {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    .textoResultado {
        max-width: 100%;
        margin-top: 10px;

    }

    .botonCopiar {
        margin-top: 20px;
    }

    .pie-pagina {
        width: 100%;
    }
}